.icon-cd{
	background:url('myicons/cd.png') no-repeat center center;
}
.icon-music{
	background:url('myicons/music.png') no-repeat center center;
}
.icon-music_note{
	background:url('myicons/music_note.png') no-repeat center center;
}