<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midas.mapper.UserMapper">
    
    <select id="selectUsers" resultType="com.midas.vo.user.UserDto">
	    select u.*,o.dpt_name as orgName
	    from t_user u
       	left join t_mgt_organization o on o.dpt_code = u.dptCode
       	where u.deleted = 0
       	<if test="dptCode !=null and dptCode != ''">
			and u.dptCode = #{dptCode}
		</if>
        order by u.loginname
    </select>
    
    <select id="selectUsersCount" resultType="java.lang.Integer">
	    select count(*)
	    from t_user u
       	left join t_mgt_organization o on o.dpt_code = u.dptCode
       	where u.deleted = 0
       	<if test="dptCode !=null and dptCode != ''">
			and u.dptCode = #{dptCode}
		</if>
        order by u.loginname
    </select>

    <select id="selectUsersByUserDto" resultType="com.midas.vo.user.UserDto">
	    select u.* from t_user u
       	where u.deleted = 0
       	<if test="loginName !=null and loginName != ''">
		and u.loginname = #{loginName}
		</if>
    </select>

	<select id="getPasswordForUser" resultType="java.lang.String">
	    select loginpassword from t_user 
	    where loginname = #{loginName}
	</select>
	
	<select id="findByName" resultType="com.midas.vo.user.UserDto">
		select u.*,o.dpt_name as orgName
	    from t_user u
       	left join t_mgt_organization o on o.dpt_code = u.dptCode
       	where u.loginname = #{loginName}
	</select>
	
	<select id="findById" resultType="com.midas.vo.user.UserDto">
	    select u.*,o.dpt_name as orgName
	    from t_user u
       	left join t_mgt_organization o on o.dpt_code = u.dptCode
	    where u.userid = #{userId}
	</select>
	
	<select id="getUserByUuid" resultType="com.midas.model.user.User">
		select * from t_user where useruuid = #{userUuid}
	</select>
	
	<select id="selectUsersByUserForm" resultType="com.midas.vo.user.UserDto">
	    select u.*
	    from t_user u
       	where u.deleted = 0
       	<if test="loginName !=null and loginName != ''">
		and u.loginName = #{loginName}
		</if>
    </select>
    
	<select id="getUserRoles" resultType="com.midas.vo.user.RoleDto">
		select r.* from t_user u
       	left join t_userrole ur on ur.userid = u.userid
       	left join t_role r on ur.roleid = r.roleid
        where r.deleted = 0
	    and u.userid = #{userId}
	</select>
	
	<insert id="saveUser" parameterType="com.midas.model.user.User">
		insert into t_user (useruuid,loginname,loginpassword,username,phone,email,status,dptCode,deleted)
	    VALUES (#{userUuid},#{loginName},#{loginPassword},#{userName},#{phone},#{email},#{status},#{dptCode},0)
	</insert>
	
	<update id="updatePassword" parameterType="com.midas.model.user.User">
	    update t_user set loginpassword = #{loginPassword}
	    where userid = #{userId}
	</update>
	
	<update id="updateUser" parameterType="com.midas.model.user.User">
		UPDATE t_user
			<set>
				<if test="loginName !=null and loginName != ''">
				loginname = #{loginName},
				</if>
				<if test="loginPassword !=null and loginPassword != ''">
				loginpassword = #{loginPassword},
				</if>
				<if test="userName !=null and userName != ''">
				username = #{userName},
				</if>
	           	<if test="dptCode !=null and dptCode != ''">
				dptCode = #{dptCode},
				</if>
	           	<if test="phone !=null and phone != ''">
				phone = #{phone},
				</if>
	           	<if test="email !=null and email != ''">
				email = #{email},
				</if>
				<if test="deleted !=null and deleted != ''">
				deleted = #{deleted},
				</if>
			</set>
		 WHERE 1=1
		 <if test="userId !=null and userId != ''">
		 and userid = #{userId}
		 </if>
		 <if test="userUuid !=null and userUuid != ''">
		 and useruuid = #{userUuid}
		 </if>
	</update>
</mapper>